:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f7fafc; /* gray.50 do Chakra */
	-webkit-font-smoothing: antialiased;
}
